<DOCTYPE html>

<html>
  <head>
    <title>Welcome to Corrective Exercise</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Main</a><li>
        <li><a href="/goldencircle">CES Golden Circle</a></li>
        <li><a href="/programs">Programs</a></li>
        <li><a href="/disgnostics">Diagnostics</a></li>
        <li><a href="/exercises">Exercises</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>

    {% block content %}
    {% endblock %}

  </body>
</html>
