<!DOCTYPE html>

<html>
  <head>
    <title>Arehart CES</title>
  </head>

  <h1>Corrective Exercise: Arehart Method</h1>

  <body>
    <nav>
      <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/createaccount">Create Account</a></li>
        <li><a href="/goldencircle">Golden Circle</a></li>
        <li><a href="/programs">Programs</a></li>
        <li><a href="/diagnostics">Diagnostics</a></li>
        <li><a href="/exercises">Exercises</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>

    {% block content %}
    {% endblock %}

  </body>
</html>
